<head>
    <link rel="stylesheet" href="/styles/main.css">
    </head>
<footer class="foot">
    <a href="/">Home</a> | <a href="/">All Products</a> | <a href="/">Keyboards</a> | <a href="/">Keycap Sets</a> | <a href="/">Switches</a><br>
    Copyright &copy; KIBI STORE 2022
    <style>
        footer{
         color: #777;
         text-align: center;
         margin: 80px auto 20px;
         font-size:small;
       }
    </style>
</footer>