<nav class="navbar">
    <div>
        <a href="/"> Home </a>
        <a href="/prodcuts"> All Products </a>
        <a href="/products/keyboards"> Keyboards </a>
        <a href="/products/keycaps"> Keycap Sets </a>
    </div>
</nav>