<!DOCTYPE html>
<html>
  <head>
    <%- include( 'partials/head.ejs' ) %>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="icon" type="image/x-icon" href="/images/kibikey.png">
    </head>
    <body>
      <title>KIBI</title>
        <nav><%- include( 'partials/nav.ejs' )  %>
        </nav>
        <section>
          <div id="carouselFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/images/Discord_home.webp" class="d-block w-100 pic" max-width="2000px" max-height="800px" alt="..."><div class="text" id="t"><h2 class="tst-1">Discord TKL Mechanical Keyboard</h2><a class="BN" href="/products/keyboards/630e203d2add3d78a937515a"><span>Buy Now</span></a>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="/images/KDS.webp" class="d-block w-100 pic" max-width="2000px" max-height="800px" alt="..."><div class="text" id="t"><h2 class="tst-2">KDS Transmutation</h2><a class="BN" href="/products/keyboards/630e203d2add3d78a937515c"><span>Buy Now</span></a>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="/images/LIPKEY.webp" class="d-block w-100 pic" max-width="2000px" max-height="800px" alt="..."><div class="text" id="t"><h2 class="tst">Tai-hao Love in Paris Keycap Set</h2><a class="BN" href="/products/keyboards/630e203d2add3d78a937515e"><span>Buy Now</span></a>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
          </div>
    <section id="container new" class="w-100">
      <div class="row" class="w-100">
        <div class="one col-lg-4 col-md-12 col-12 p-0">
          <img class="img-fluid" src="/images/ePDT2.png">
          <div class="details">
            <h2>Keyboards</h2>
            <button class="text-uppercase" id="TU"><a class="title" href="/products/keyboards"><strong>Shop Now</strong></a></button>
          </div>
        </div>
        <div class="one col-lg-4 col-md-12 col-12 p-0">
          <img class="img-fluid" src="/images/keyset.png">
          <div class="details">
            <h2>Keycaps</h2>
            <button class="text-uppercase" id="TU"><a class="title" href="/products/keycaps"><strong>Shop Now</strong></a></button>
          </div>
        </div>
        <div class="one col-lg-4 col-md-12 col-12 p-0">
          <img class="img-fluid" src="/images/switch.webp">
          <div class="details">
            <div class="bot">
            <h2>Switches</h2>
            <button class="text-uppercase" id="TU"><a class="title" href="/products/switches"><strong>Shop Now</strong></a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
</body>
<footer>
<%- include( 'partials/footer.ejs' ) %>
</footer>
</html>