<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Add new product</h1>
        <form action="/products/new" method="POST">
            <input type="radio" name="type" value="keyboard"></input>
            <label for="keyboard">Keyboard</label>
            <input type="radio" name="type" value="keycap"></input>
            <label for="keycap">Keycap</label>
            <input type="text" name="name" placeholder="Name"></input>
            <input type="text" name="image" placeholder="Image URL"></input>
            <input type="text" name="description" placeholder="Description"></input>
            <input type="number" name="price" placeholder="Price"></input>
            <input type="submit"></input>
        </form>
    </body>
</html>