<head>
    <%- include( 'partials/head.ejs' ) %>
    <link rel="stylesheet" href="/styles/main.css">
    </head>
    <body>
      <title>KIBI</title>
        <nav><%- include( 'partials/nav.ejs' )  %>
        </nav>
<div class="ty-card">
  <div class="ty-content">
<h2 id="ty">Thanks for shopping!</h2>
<img class="ty-kc"src="/images/keycap.webp">
</div>
</div>
<footer>
    <%- include( 'partials/footer.ejs' ) %>
    </footer>