body {
    background-color: #18181b;
    color: #efeff1;
}
.card img {
    max-width: 400px;
}
.card {
    overflow: hidden;
    display: inline-block;
    max-width: 500px;
    display: inline-grid;
}
h1 {
    font-family:'Dosis', sans-serif;
    margin-top: 20px;
    margin-left: 250px;
    font-size: 50px;
    color: #efeff1;
}
.navbar {
    width: 100%;
    box-shadow: rgba(33, 35, 38, 0.137) 0px 10px 20px -10px;
}
.title {
    text-decoration: none;
    color: #000;
}
.navbar-nav {
    margin-left: 210px;
}
img {
    max-width: 300px;
    margin: 20px;
}
.cart {
    background-color: #26262b;
}
.inner-cart {
    margin: 40px;
    display: inline-block;
}
.info {
    display: inline;
}
#cart {
    background-color: #772ce8;
    border-color: #772ce8;
}