body {
    background-color: #18181b;
    color: #efeff1;
}
.card img {
    max-width: 400px;
}
.card {
    overflow: none;
    display: inline-block;
    display: inline-grid;
}
h1 {
    font-family:'Dosis', sans-serif;
    margin-top: 20px;
    margin-left: 250px;
    font-size: 10px;
    color: #efeff1;
}
.navbar {
    text-decoration: none;
    color: #000;
    background-color: transparent;
}
#new img {
    max-width: 100%;
    max-height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}
.navbar {
    width: 100%;
    box-shadow: rgba(33, 35, 38, 0.137) 0px 10px 20px -10px;
}
.title {
    text-decoration: none;
    color: #000;
}
.navbar-nav {
    margin-left: 210px;
}
.nav-item {
    margin-left: 0px;
}
#nv {
    color: #efeff1;
}
.title {
    font-size: 50px;
    margin-bottom: 60px;
}
.card-title, .card-text {
    color: black;
}
.card {
    background-color: #3a3a41;
    margin: 5px;
}
.card-content {
    padding: 30px;
}
.btn {
    background-color: #772ce8;
    border-color: #772ce8;
}