body {
    background-color: #ececec;
}
h1 {
    font-family:'Dosis', sans-serif;
    font-size: 70px;
}
.navbar a {
    text-decoration: none;
    color: #000;
    background-color: white;
}
.carousel-item {
    max-width: 2000px;
    max-height: 640px;
    object-fit: contain;
}
#All img {
    max-width: 300px;
}


