body {
    background-color: #ececec;
}
h1 {
    font-family:'Dosis', sans-serif;;
}
.navbar a {
    text-decoration: none;
    color: #000;
}
.carousel-item {
    max-width: 2000px;
    max-height: 640px;
    object-fit: contain;
}
